// list of standard varibles defined

// primary colors
$graphite_black: #101828;
$primary_blue: #002b9b;
$primary_white: #ffffff;
$primary_orange: #f78819;
$primary_red: #f73030;
$moderate-blue: #223189;
$light_primary_white: #eeeeee;
$soft_primary_white: #f5f5f5;
$light_primary_blue: #ebf0ff;
$dark_primary_green: #1d5464;
$pale_primary_green: #40869a;
$dark_gray: #4d4d4d;
$light_gray: lightgray;
$mud_gray: #667085;
$primary_pink: #ff3c6b;
$primary_purple: #c2a5ff;
$baby_purple: #f4ebff;
$primary_success: #50c150;
$light_success: #d8ffd1;
$pale-blue: #d3e2ff;

// color shades
$graphite_black_shade_1: #3a3a3a;
$graphite_black_shade_2: #161616;
$primary_gray_shade: #ebebeb;
$primary_blue_shade: #f6f8ff;
$primary_blue_shade_rgba: rgba(246, 248, 255, 0.658);
$primary_light_blue_shade: #cff4ff;
$primary_light_orange_shade: #fbdfc4;
$primary_light_light_pink: #fedede;
$primary_light_light_sky_blue: #eff8ff;
$primary_light_light_purple: #d6bbfb;
$primary_border_color: #edebff;
$primary_border_top_color: #7c99ff;
$dark_gray_shade_1: #8f8e8e;
