// $MainColor: rgb(35, 131, 73);

:root {
  --main-color: #223189;
  --color-accent-rgb: 73, 93, 202;
}

$MainColor: var(--main-color);
// $MainColor: #ed3939;
$PrimaryBoxShadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1),
  0px 8px 8px -4px rgba(16, 24, 40, 0.04);
$PrimaryBodyColor: #ffffff;
$PrimaryIconBodyColor: #fff;
$PrimaryRedColor: #ed5c5c;
$PrimaryTextColor: black;
$transitionTime: 0.3s;
$paddingVal: 1rem;
$marginVal: 1.5rem;
$gapVal: 0.5rem;
$BootstrapFontSize: 20px;
$BootstrapIconColor: #667085;
$TextColorWhite: white;
$DetailsBgColor: #f3f2f2;
$headingColor: #323232;
$textColor: #565656;
$base: 0.6rem;

// accent color mixin
@mixin accent-background-color($color, $opacity: 0.3) {
  background-color: $color; /* The Fallback */
  // background-color: rgba($color, $opacity);
  background-color: rgba(var(--color-accent-rgb), $opacity);
}
