@use "../../assets/scss/root.scss" as *;
@use "../../assets/scss/variables/index" as *;

.customBtn {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: $border-radius8px;
  border-bottom-right-radius: $border-radius8px;
  box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 1rem;
  background: $PrimaryBodyColor;
  transition: background $transitionTime ease-in;
  box-shadow: 0px -4px 14px rgba(0, 0, 0, 0.14);
  z-index: 99999999;

  .totalInfo {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: background $transitionTime ease-in;

    .cartItems {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      padding: 0.5rem;
      @include accent-background-color($MainColor, 0.1);
      border-radius: $border-radius4px;
      cursor: pointer;
      .icon {
        font-size: 1.2rem;
        color: $MainColor;
      }
      .text {
        font-size: 1.2rem;
        color: $textColor;
        font-weight: 600;
      }
      .circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $MainColor;
      }
    }
  }

  .accordion {
    width: 100%;
    position: absolute;
    bottom: 83px;
    left: 0px;
    padding: 1rem 1.5rem;
    // background-color: #e9f3ed;
    // background-color: $MainColor;
    @include accent-background-color($MainColor, 0.9);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
    border-radius: 8px 8px 0px 0px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .headericon {
        font-size: 1.2rem;
        // color: $PrimaryTextColor;
        color: $TextColorWhite;
        font-weight: 800;
        cursor: pointer;
      }
      .headertext {
        font-size: 1.2rem;
        // color: $PrimaryTextColor;
        color: $TextColorWhite;
        font-weight: 600;
      }
    }
    .roomContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #e1e1e1;
      background: $PrimaryBodyColor;
      border-radius: $border-radius4px;
      padding: $paddingVal;

      .leftContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .roomType {
          color: $headingColor;
          font-style: normal;
          font-weight: $font-weight600;
          font-size: 16px;
        }
        .mealPlan {
          color: #8b8b8b;
          font-weight: $font-weight400;
          font-size: 14px;
        }
        .person {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;
          .rooms {
            font-style: normal;
            font-weight: $font-weight400;
            font-size: 14px;
            color: #666666;
          }
          .price {
            font-style: normal;
            font-weight: $font-weight500;
            font-size: 14px;
            color: #1d2033;
          }
        }
      }
      .rightContainer {
        @extend .leftContainer;
        align-items: flex-end;
        width: 30%;
      }
    }
  }

  .hideaccordion {
    display: none;
  }
  .button {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: $border-radius4px;
    flex-grow: 1;
    background-color: $MainColor;
    color: $TextColorWhite;
    transition: background-color $transitionTime ease-in,
      color $transitionTime ease-in;
    font-weight: 500;
    font-size: 20px;
  }

  .disbled {
    @extend .button;
    background-color: #bebebe;
    // cursor: not-allowed;
    pointer-events: none;
  }
}
