@use "../../assets/scss/root.scss" as *;
@use "../../assets/scss/variables/index" as *;

.container {
  border-radius: $border-radius4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: border-box;
  padding: 0 1rem;
  padding-bottom: 100px;
  background-color: $PrimaryBodyColor;
  transition: background-color $transitionTime ease-in;

  .roomtype_card_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.2);

    .room_title {
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: $headingColor;
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .crearBtn {
        border-radius: 4px;
        border: 1px solid $MainColor;
        font-size: 0.825rem;
        padding: 0.125rem 0.5rem;
        color: $MainColor;
        cursor: pointer;

        &:hover {
          @include accent-background-color($MainColor, 0.05);
        }
      }
    }

    .room_info_container {
      width: 100%;
      display: flex;

      // margin-bottom: 1rem;

      .room_image_container {
        cursor: zoom-in;
        position: relative;
        display: flex;
        width: 33%;
        gap: 0.15rem;
        flex-direction: column;
        max-height: 254px;

        .discount {
          position: absolute;
          top: 8px;
          left: 8px;
          background: $MainColor;
          color: $TextColorWhite;
          border-radius: 3px;
          padding: 2px 5px;
          font-size: 12px;
        }
        .big_image {
          height: 180px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .small_image_container {
          display: flex;
          gap: 0.15rem;
          height: calc(100% - 180px);
          .small_image {
            width: 33.33%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .first_small_image {
              border-radius: 0px 0px 0px 8px;
            }
          }
        }
      }

      .room_mealplan_container {
        width: 67%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 1px solid #e7e7e7;
        padding: 0.5rem 1rem;
        .carousel_container {
          width: 100%;
          overflow: hidden;
          .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;

            .carousel_item {
              width: 100%;
              flex-shrink: 0;

              .mealplan_card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 0.5rem;

                .meal_plan_title_container {
                  width: 70%;
                  .mealplan_title {
                    color: #565656;
                    font-weight: 500;
                    font-size: 12px;
                  }
                  .mealplan_price {
                    color: #565656;
                    font-weight: 600;
                    font-size: 1rem;

                    .mealplan_price_before_discount {
                      margin-left: 0.5rem;
                      color: #b0b0b0;
                      font-weight: 400;
                      font-size: 0.825rem;
                      text-decoration: line-through;
                    }
                  }
                }

                .addbutton {
                  width: 30%;
                  display: flex;
                  padding: 0.35rem;
                  justify-content: center;
                  align-items: center;
                  border-radius: $border-radius4px;
                  cursor: pointer;
                  background-color: $MainColor;
                  transition: background-color $transitionTime ease-in;
                  color: #e9f3ed;
                  font-weight: 500;
                  font-size: 0.825rem;
                }
                .disabledAddButton{
                  @extend .addbutton;
                  background-color: #bebebe;
                }
                .btnContainer {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 30%;

                  .minusBtn,
                  .plusBtn {
                    width: 28.65px;
                    height: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: $border-radius4px;
                    cursor: pointer;
                    background-color: $MainColor;
                    transition: background-color $transitionTime ease-in;

                    i {
                      font-size: 16px;
                      color: $TextColorWhite;
                      transition: color $transitionTime ease-in;
                    }
                  }

                  .btnDisabled {
                    @extend .minusBtn;
                    background-color: #bebebe;
                    pointer-events: none;
                  }
                  .value {
                    width: 30px;
                    text-align: center;
                    font-weight: $font-weight500;
                    font-size: 18px;
                    color: $PrimaryTextColor;
                    transition: color $transitionTime ease-in;
                  }
                }
              }

              .mealplan_card_inactive {
                @extend .mealplan_card;
                .mealplan_title {
                  color: #bebebe;
                }
                .mealplan_price {
                  color: #bebebe;
                }
                .addbutton {
                  background-color: #bebebe;
                  // cursor: initial;
                  pointer-events: none;
                }
              }
            }
          }
        }

        .hrline {
          width: 100%;
          height: 1px;
          background-color: #e7e7e7;
          margin-bottom: 0.65rem;
        }
        .view_more_container {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .text_content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .view_more {
              color: $MainColor;
              font-weight: 500;
              font-size: 1rem;
            }

            .chevron_container {
              display: flex;
              align-items: center;
            }

            .chevron {
              position: absolute;
              width: 0.2rem;
              height: 0.9rem;
              opacity: 0;
              transform: scale(0.3);
              animation: move-chevron 3s ease-out infinite;
              font-weight: 500;
            }

            .chevron:first-child {
              animation: move-chevron 3s ease-out 1s infinite;
            }

            .chevron:nth-child(2) {
              animation: move-chevron 3s ease-out 2s infinite;
            }

            .chevron:before,
            .chevron:after {
              content: "";
              position: absolute;
              left: 0;
              width: 100%;
              height: 50%;
              background: $MainColor;
            }

            .chevron:before {
              top: 0;
              transform: skewX(30deg);
            }

            .chevron:after {
              bottom: 0;
              transform: skewX(-30deg);
            }

            @keyframes move-chevron {
              25% {
                opacity: 1;
              }
              33.3% {
                opacity: 1;
                transform: translateX($base * 1);
              }
              66.6% {
                opacity: 1;
                transform: translateX($base * 2.4);
              }
              100% {
                opacity: 0;
                transform: translateX($base * 3.8) scale(0.5);
              }
            }
          }

          .card_slider_icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.4rem;

            .circle_arrow {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              // border: 0.5px solid $MainColor;
              display: flex;
              justify-content: center;
              align-items: center;
              background: $MainColor;
              i {
                color: $TextColorWhite;
                cursor: pointer;
                font-size: 1rem;
              }
            }
            .disable {
              @extend .circle_arrow;
              background: #bebebe;
              pointer-events: none;
            }

            .dots_container {
              display: flex;
              justify-content: center;
              align-items: center;

              .slider_dots {
                width: 5px;
                height: 5px;
                background-color: #d9d9d9;
                border-radius: 50%;
                margin: 0 2px;
                cursor: pointer;
              }
              .active {
                @extend .slider_dots;
                background-color: $MainColor;
              }
            }
          }
        }
      }
    }

    .personPayload {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 94%;
      // background-color: #e9f3ed;
      @include accent-background-color($MainColor, 0.1);

      border-radius: 8px;
      margin: 0.7rem;
      padding: 0.5rem;
      gap: 1rem;
      .lable {
        width: 30%;
      }
      .adultdiv,
      .childdiv {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        .btnContainer {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: flex-start;

          .minusBtn,
          .plusBtn {
            width: 25.65px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $border-radius4px;
            cursor: pointer;
            background-color: $MainColor;
            transition: background-color $transitionTime ease-in;

            i {
              font-size: 15px;

              color: $TextColorWhite;
              transition: color $transitionTime ease-in;
            }
          }

          .btnDisabled {
            @extend .minusBtn;
            background-color: #bebebe;
            pointer-events: none;
          }
          .value {
            width: 30px;
            text-align: center;
            font-weight: $font-weight500;
            font-size: 18px;
            color: $PrimaryTextColor;
            transition: color $transitionTime ease-in;
          }
        }
      }
    }

    .displaynone {
      display: none;
    }
  }
}

.modalContainer {
  .modal-content {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}
