@use "../../assets/scss/root.scss" as *;
@use "../../assets/scss/variables/index" as *;

// color refractor will add

.container {
  border-radius: $border-radius4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: border-box;
  padding: 0 32px;
  background-color: $PrimaryBodyColor;
  transition: background-color $transitionTime ease-in;

  .calender {
    width: 100%;
    background-color: $PrimaryBodyColor;
    transition: background-color $transitionTime ease-in;

    .monthDisplaySect {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: $marginVal;

      .left {
        width: 50%;
        display: flex;
        gap: $gapVal;
        align-items: center;
        cursor: pointer;
        font-weight: $font-weight600;
        transition: color $transitionTime ease-in;
        color: $PrimaryTextColor;
        // font-family: initial;
        font-size: 20px;
      }
      .middle {
        width: 50%;
        display: flex;
        gap: $gapVal;
        align-items: center;
        justify-content: center;
        font-weight: $font-weight500;
        transition: color $transitionTime ease-in;
        color: #344054;
        // font-family: initial;
        font-size: 18px;
      }
      .right {
        width: 50%;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        color: $PrimaryTextColor;
        font-weight: $font-weight600;
        transition: color $transitionTime ease-in;
        font-family: initial;
        font-size: 20px;
      }
    }

    .daysDisplaySect {
      display: grid;
      grid-template-columns: repeat(7, calc(100% / 7));
      margin: $marginVal 0;
      text-align: center;

      .day {
        font-weight: $font-weight500;
        color: #7e7e7e;
        font-style: normal;
        font-size: 14px;
        transition: color $transitionTime ease-in;
      }
    }

    .datesDisplaySect {
      display: grid;
      grid-template-columns: repeat(7, calc(100% / 7 - 2px));
      grid-auto-rows: 65px;
      grid-row-gap: 3.65px;
      grid-column-gap: 2px;
      margin-bottom: $marginVal;

      .dateHolder {
        border: 1.7px solid transparent;

        display: flex;
        padding: $paddingVal / 4;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #fafafa;

        .date {
          color: $PrimaryTextColor;
          font-size: 16px;
          font-weight: $font-weight500;
          font-style: normal;
        }

        .amount {
          font-size: 12px;
          font-weight: $font-weight600;
          color: #7e7e7e;
          font-style: normal;
        }
      }

      .dateHolderEnabled {
        @extend .dateHolder;
        background-color: rgb(116 116 116 / 10%);
        cursor: pointer;
      }

      .dateHolderEnabledSelected {
        @extend .dateHolder;
        border: 1.7px solid transparent;
        @include accent-background-color($MainColor, 0.56);
        cursor: pointer;

        .date {
          color: #ffffff;
        }
        .amount {
          color: #e4e4e4;
        }
      }
      .firstandlastselectedDateHolder {
        @extend .dateHolderEnabledSelected;
        @include accent-background-color($MainColor, 1);
      }

      .dateHolderBlocked {
        @extend .dateHolder;
        @include accent-background-color(#dd2c2f, 0.1);
        border: 1.7px solid #dd2c2f;
      }
    }
  }
}
