@use "../../assets/scss/root.scss" as *;
@use "../../assets/scss/variables/index" as *;
.container {
  width: 50%;
  margin: 0 auto;

  .slider {
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    .imgContainer {
      .carouselimg {
        width: 100%;
        // height: 40%;
        max-height: 500px;
        object-fit: cover;
        cursor: grab;
      }
    }
  }

  .navigationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;

    .arrow {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: #fefefe;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      color: #565656;
      font-size: 1.5rem;

      &:hover {
        background-color: #c4bfbf;
      }
    }

    .dotsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      .dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #dfd5d5;
        transition: all 0.3s ease-in-out;
      }
      .activedot {
        background-color: $MainColor; /* Active dot background color */
      }
    }
  }
}
