@use "../../assets/scss/root.scss" as *;
@use "../../assets/scss/variables/index" as *;
@use "../../assets/scss/helpers/breakpoints" as *;

//-=========================== OPEN_CLOSE_BTN -===========================-//

.OPEN_CLOSE_BTN {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  border-radius: 18%;
  z-index: 99990;
  box-shadow: $PrimaryBoxShadow;
  opacity: 1;
  transform: rotate(0deg);
  font-size: 35px;
  background-color: $MainColor;
  color: $PrimaryIconBodyColor;
  transition: opacity 0.5s ease-in, transform $transitionTime ease-in,
    background-color $transitionTime ease-in, color $transitionTime ease-in;

  div {
    width: 75%;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

//-=========================== OPEN_CLOSE_BTN_NO_SEE -===========================-//

.OPEN_CLOSE_BTN_NO_SEE {
  @extend .OPEN_CLOSE_BTN;
  transform: rotate(180deg);
  opacity: 0;
  transition: opacity $transitionTime ease-out,
    transform $transitionTime ease-out;
}

//-=========================== widgetParentContainer -===========================-//

.widgetParentContainer {
  position: fixed;
  right: 25px;
  min-height: 95vh;
  top: 125vh;
  opacity: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 585px;
  border-radius: $border-radius8px;
  z-index: 99999;
  // box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
  //   0px 20px 24px -4px rgba(16, 24, 40, 0.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $PrimaryBodyColor;
  transition: top 0.3s ease-in 0s, opacity 0.3s ease-in 0s;
  // transition: opacity $transitionTime ease-in, top $transitionTime ease-in, background-color $transitionTime ease-in;
}

// ================================================media query
$breakpoints: (
  phone: 480px,
  tablet: 768px,
  desktop: 1024px,
);

.widgetParentContainer {
  @include media("<=phone") {
    width: 100%;
    min-height: 100%;
  }
}


//-==================================== WIDGET_BUTTON_MIDDLE_LEFT ====================================-//
.WIDGET_BUTTON_MIDDLE_LEFT{
  position: fixed;
  top: 40%;
  left: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 12px;
  border-radius: 0 8px 8px 0;
  z-index: 99990;
  box-shadow: $PrimaryBoxShadow;
  opacity: 1;
  background-color: $MainColor;
  color: $PrimaryIconBodyColor;
  transition: opacity 0.5s ease-in, transform $transitionTime ease-in,
    background-color $transitionTime ease-in, color $transitionTime ease-in;

  span {
   font-size: 14px;
  }
}


.WIDGET_CONTAINER_MIDDLE_LEFT{
  position: fixed;
  height: 95vh;
  top: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 585px;
  border-radius: $border-radius8px;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $PrimaryBodyColor;
  transition: transform 0.3s ease-in-out;
  transform:  translateX(-100%);
}